body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post-titles {
  text-decoration: none;
  color: black;
  padding: 10px 20px;

  margin-top: 10px;
  cursor: pointer;
}

.post-titles:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
